/* scale  */
/* div {
    margin: 200px auto;
    width: 200px;
    height: 200px;
    background-color: rgb(255 0 0 / 39%);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 30px;
    transform: scaleX(2);
    transform: scaleY(2);
    transform: scale(2, 2); */
/*الامتداد*/
/* } */

/* rotate  */
/* div {
    margin: 200px auto;
    width: 200px;
    height: 200px;
    background-color: rgb(255 0 0 / 39%);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 30px;
    transform: rotate(45deg);
    transform: rotate(1turn);
    transform: rotate(0.5turn);
    transform: rotate(0.25turn); */
/*الدوران*/
/* } */

/* traslate  */
/* div {
    margin: 200px auto;
    width: 200px;
    height: 200px;
    background-color: rgb(255 0 0 / 39%);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 30px;
    transform: translate(-100px, -100px); */
/*اودي العنصر يمين وشمال وفوق وتحت*/
/* } */

/*skew*/
/* h2 {
    position: relative;
    color: white;
    margin: 20px auto;
    width: fit-content;
    padding: 20px;
}

h2::before {
    content: "";
    background-color: red;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    transform: skewX(20deg);
}

div {
    margin: 200px auto;
    width: 200px;
    height: 200px;
    background-color: rgb(255 0 0 / 39%);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 30px;
    transform: skewX(10deg);
    transform: skewX(-10deg);
    transform: skewY(10deg);
    transform: skewY(-10deg);
    transform: skew(10deg, 10deg); */
/*الانحراف*/
/* } */

/*matrix*/
/*
  matrix(scaleX(), skewY(), skewX(), scaleY(), translateX(), translateY())
*/
/* div {
    margin: 200px auto;
    width: 200px;
    height: 200px;
    background-color: rgb(255 0 0 / 39%);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 30px;
    transform: matrix(1.2, 0.2679, 0, 1.2, 20, 20);
    transform: translateX(20px) translateY(20px) scaleX(1.2) skewY(15deg) skewX(0deg) scaleY(1.2);
} */

/*origin*/
/*
  transform-origin
  Syntax
  Default Values => 50% 50% 0
  2D Transform => transform-origin(X, Y)
  3D Transform => transform-origin(X, Y, Z)
  X-Axis
  - CSS Unit [px, em, rem]
  - %
  - Keyword
  -- Left = 0%
  -- Center = 50%
  -- Right = 100%
  Y-Axis
  - CSS Unit [px, em, rem]
  - %
  - Keyword
  -- Top = 0%
  -- Center = 50%
  -- Bottom = 100%
*/

/* div {
    margin: 200px auto;
    width: 200px;
    height: 200px;
    background-color: rgb(255 0 0 / 39%);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 30px;
    transform-origin: 0 50%;
    transform: rotate(100deg);
} */

/*3d-trasnform*/

/*rotate*/
/* div {
    margin: 200px auto;
    width: 200px;
    height: 200px;
    background-color: rgb(255 0 0 / 39%);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 30px;
    transform: rotateX(50deg);
    transform: rotateY(50deg);
    transform: rotateZ(50deg);
    transform: rotate3d(0, 1, 1, 65deg);
} */

/* percpective  */

/* .wow {
    perspective: 300px; */
/*لازم احطه عشان الترانسليت تشتغل ك 3دي*/
/* perspective-origin: center center; */
/* } */

/* .wow div {
    margin: 200px auto;
    width: 200px;
    height: 200px;
    background-color: rgb(255 0 0 / 39%);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 30px;
    transform: translate(100px, -100px);
    transform: translateX(100px);
    transform: translateZ(100px);
    transform: translate3d(0, 0, 100px);
} */

/* backface visibility  */

* {
    box-sizing: border-box;
    margin: 0;
}

.container {
    margin: 40px auto;
    width: 200px;
    perspective: 600px;
}

.box {
    position: relative;
    width: 200px;
    height: 200px;
    transform-style: preserve-3d;
    transition: transform 1s;
    transform-origin: right center;
}

.box:hover {
    transform: translate(-100%) rotate(-180deg);
    -webkit-transform: translate(-100%) rotate(-180deg);
    -moz-transform: translate(-100%) rotate(-180deg);
    -ms-transform: translate(-100%) rotate(-180deg);
    -o-transform: translate(-100%) rotate(-180deg);

}

.box .face {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 30px;
    color: white;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
}

.box .front {
    background-color: red;

}

.box .back {
    background-color: green;
    transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -ms-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
}