* {
    box-sizing: border-box;

}

body {
    font-family: Arial, Helvetica, sans-serif;
}

/* test 1 */
/* .assign-one {
    background-color: red;
    color: white;
    text-align: center;
    font-size: 20px;
    width: 290px;
}

@media print {
    .assign-one {
        font-size: 40px;
    }

} */

/* test 2 */
/* .parent {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 15px;
}

.parent .child {
    width: calc(100% - 30px);
    background-color: #eeeeee;
    text-align: center;
    padding: 15px;
    margin-bottom: 15px;
}

.parent .child h2 {
    margin: 5px 0;
}

@media (min-width: 768px) {
    .parent .child {
        width: calc(50% - 25px);
    }

    .parent .child h2 {
        color: red;
    }
}

@media (min-width: 992px) {
    .parent .child {
        width: calc(25% - 20px);
    }

    .parent .child h2 {
        color: #4CB2A8;
    }
} */
/* test 3 */
.parent {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 15px;
}

.parent .child {
    width: calc(100% - 30px);
    background-color: #eeeeee;
    text-align: center;
    padding: 15px;
    margin-bottom: 15px;
}

.parent .child h2 {
    margin: 5px 0;
}

@media (min-width: 768px) {
    .parent .child {
        width: calc(33% - 17px);
    }

    .parent .child:nth-child(1) {
        width: calc(100% - 30px);
    }

    .parent .child h2 {
        color: red;
    }
}

@media (min-width: 992px) {
    .parent .child {
        width: calc(50% - 23px);
    }

    .parent .child:nth-child(4) {
        width: calc(100% - 30px);
    }

    .parent .child h2 {
        color: #4CB2A8;
    }
}